<!DOCTYPE html>
<html>
  <head>
    <title>Ledger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= yield(:head) %>
  </head>

  <body>
    <%= content_for?(:body) ? yield(:body) : yield %>
    <%#= javascript_pack_tag 'call-button' %>
  </body>
</html>
